:root {
  --main-clr: #6ca4ff;
  --gradient: linear-gradient(to right, #B294FF, #57E6E6, #FEFFB8, #57E6E6, #B294FF, #57E6E6);
  --primary-font: 'Cormorant Garamond', serif;
}

body {
  font-family: var(--primary-font);
}

#header {
  margin: -100px 0 -50px 0;
  text-align: center;
}

#header img {
  max-width: 450px;
}

#form {
  text-align: center;
}

.new-prompt-submit {
    background-color: var(--main-clr);
    border: none;
    color: #fff;
    width: 75px;
    height: 40px;
    border-radius: 5px;
    font-size: .9rem;
    margin-top: 20px;
    text-decoration: none;
    border-color: #fff;
    /* font-family: var(--main-font); */
    transition-duration: 250ms;
    text-transform: uppercase;
}

.new-prompt-submit:hover {
  background-color: #fff;
  color: var(--main-clr);
  border-color: var(--main-clr);
  border: 1px solid var(--main-clr);
  cursor: pointer;
  transform: translateY(-10px);
}

#ask-kaia {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: 15px auto;
  border-radius: 5px;
  padding: 1.4rem 2rem 1.6rem;
  background-color: rgba(128, 128, 128, 0.104);
}

textarea { 
  border-style: none; 
  background: transparent; 
  outline: none; 
  resize: none;
}

#ask-kaia:after {
  content: "";
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 3px;
  background: var(--gradient);
  background-size: 500% auto;
  animation: gradient 3s linear infinite;
}

@keyframes gradient { 
  0% {
    background-position: 0 0;
  }

  100% { 
    background-position: 100% 0;
  }
}

#responses {
  max-width: 1000px;
  margin: 100px auto;
}

.response {
    border-radius: 5px;
    box-shadow: 0px 30px 40px -20px hsl(229, 6%, 66%);
    padding: 30px;
    margin-top: 50px;
    position: relative;
}

.response:after {
  content: "";
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  height: 3px;
  background: var(--gradient);
  background-size: 500% auto;
  animation: gradient 3s linear infinite;
  border-radius: 5px;
}

#no-responses {
  margin-top: 60px;
  text-align: center;
  font-size: 20px;
}

#no-responses img {
    max-width: 300px;
}

h2 {
  border-bottom: 1px solid var(--main-clr);
  padding-bottom: 5px;
}

ul li {
  list-style: none;
}

ul li:hover, #form p:hover {
  cursor: pointer;
  color: var(--main-clr);
}